* {
    background-color: #0F1524;
    cursor: url(images/cursor_regular.png) 14 0, pointer;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

nav {
    margin-left: 205px; 
    margin-top: 17px;
    transition: margin-left 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
    nav {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1201px) { 
    nav {
        margin-left: 205px;
    }
}

.navbar {
    font-family: "Press Start 2P", system-ui;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    line-height: 30px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

li.back-btn {
    float: right;
    margin-right: 250px;
    transition: margin-right 0.5s ease-in-out;
}

@media screen and (max-width: 1200px) {
    li.back-btn {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1201px) { 
    li.back-btn {
        margin-right: 250px;
    }
}

.back-btn {
    margin-top: -17px;
}

.coin {
    width: 24px; 
    height: 28px;
} 

a {
    text-decoration: none;
    color: #fff;
    margin-left: 17px;
}

a:hover {
    color: rgb(0, 86, 179);
    transition: all 0.4s ease 0s;
}

.pointer {
    cursor: url(images/cursor_pointer.png) 14 0, pointer;
}
/*-------------------------------------------------------*/

/*back home btn*/
a.login {
    font-family: "Press Start 2P", cursive;
    font-size: 11px;
    margin-right: 8px;
}

.nes-btn.is-error {
    font-size: 18px;
    color: #fff;
    background-color: #e76e55;
}

.nes-btn:hover:after {
    box-shadow: inset -6px -6px #adafbc;
}

.nes-btn:focus {
    box-shadow: 0 0 0 6px rgba(173,175,188,.3);
}

.nes-btn:active:not(.is-disabled):after {
    box-shadow: inset 4px 4px #adafbc;
}

.nes-btn:focus {
    outline: 0;
}

.nes-btn {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="d2 1 h1 v1 h-1 z d1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z d2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
    border-image-outset: 2;
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #212529;
    background-color: #fff;
}

.nes-btn:after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    box-shadow: inset -4px -4px #adafbc;
}

.nes-btn {
    border-style: solid;
    border-width: 4px;
}

a {
    text-decoration: none;
}

.nes-btn.is-error:after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    box-shadow: inset -4px -4px #8c2022;
}

:after {
    box-sizing: border-box;
}

.nes-btn.is-error:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ce372b;
}

.nes-btn.is-disabled,.nes-btn.is-disabled:focus,.nes-btn.is-disabled:hover {
    color: #212529;
    cursor: not-allowed;
    background-color: #d3d3d3;
    box-shadow: inset -4px -4px #adafbc;
    opacity: .6;
}

.nes-btn.is-warning:active:not(.is-disabled):after {
    box-shadow: inset 4px 4px #e59400;
}

.nes-btn.is-error:focus {
    box-shadow: 0 0 0 6px rgba(140,32,34,.3);
}

.nes-btn.is-error:active:not(.is-disabled):after {
    box-shadow: inset 4px 4px #8c2022;
}

.icon {
    font-family: "Press Start 2P", cursive;
    font-size: 13px;
    margin-right: 8px;
    background-color: #e76e55;
}

.left-arrow {
    width: 28px;
    padding: 5px;
    position: relative;
    top: 15px;
}
/*-------------------------------------------------*/

/*hr line*/
.nav-line {
    border-top: 0.2px solid gray;
    border-bottom: none;
    margin-top: 18px;
} 

#e404{
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 40%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: white;
    background-color: rgb(204, 204, 204,0);
}

#pg-found {
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 87%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: white;
    background-color: rgb(204, 204, 204,0);
}

.err {
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: #fff;
    background-color: rgb(204, 204, 204,0);
}

.err-2 {
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 51%;
    right: 10%;
    left: 10%;
    text-align: center;
    color: white;
    background-color: rgb(204, 204, 204,0);
}

.container {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: 20vw;
    right: 20vw;
    color: #fff;
    border: 3px solid green;
    border-radius: 10px;
}

@media screen and (max-width: 1500px) {
    .container {
        padding: 2rem;
        left: 20vw;
        right: 20vw;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 2rem;
        left: 15vw;
        right: 15vw;
    }
}

.text-design {
    font-size: 20px;
    font-weight: 100;
}

/* Using text-shadow property for outline */
.text-outline-shadow {
    color: white; /* Text color */
    font-size: 36px; /* Font size */
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.text-outline-shadow-tutorial {
    color: black; /* Text color */
    /* #E6A4B4 */
    font-size: 36px; /* Font size */
    text-shadow:
        -1px -1px 0 #fff,
         1px -1px 0 #fff,
        -1px  1px 0 #fff,
         1px  1px 0 #fff;
}

.start-game-btn {
    top: 60%;
    left: 30%;
    right: 30%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 204, 204,0);
}

#bcimg{ 
    width: 100%;
    height: calc(100vh - 69px);
    background-size: cover;
    overflow: hidden; /* Prevent scrolling of the background */
    position: absolute;
    z-index: -2;
} 

#tutorial
{
    font-family: "Press Start 2P", cursive;
    position: absolute;
    top: 60%;
    left: 0%;
    right: 0%;
    text-align: center;
    background-color: rgb(204, 204, 204,0);
}

/*--------------------------------------------------*/






